* {
    box-sizing: border-box;
}

body {
    background-color: #eef2f3;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #6fb1fc, #2b3977);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    color: rgb(10, 10, 10);
}

.calendar-container-box {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.appointment-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-height: 220px;
    overflow-y: auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointment-item {
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.appointment-item:hover {
    background-color: #09f309;
    color: #333333;
}

.add-appointment-button {
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-appointment-button:hover {
    background-color: #e65c50;
    transform: translateY(-2px);
}

.react-calendar {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
    transition: background-color 0.3s;
}

.react-calendar__tile--active {
    background-color: #ff6f61;
    color: white;
}

.react-calendar__tile--active:hover {
    background-color: #e65c50;
}

.react-calendar__tile--now {
    border: 2px solid #ff6f61;
    border-radius: 50%;
}

.react-calendar__tile--hover {
    background-color: rgba(255, 255, 255, 0.3);
}
